https://www.datacamp.com/community/open-courses/kaggle-python-tutorial-on-machine-learning <br>
Answer: https://www.kaggle.com/bcarande/titanic/script2test/run/267406 <br>
[簡單預測](#1)<br>
[決策樹](#2)<br>
[隨機森林](#3)

# 1.Getting Started with Python (簡單預測)
In this chapter we will go trough the essential steps that you will need to take before beginning to build predictive models.

## Get the Data with pandas

In [1]:
# Import the Pandas library
import pandas as pd
# Load the train and test datasets to create two DataFrames
train_url = "http://s3.amazonaws.com/assets.datacamp.com/course/Kaggle/train.csv"
train = pd.read_csv(train_url)

test_url = "http://s3.amazonaws.com/assets.datacamp.com/course/Kaggle/test.csv"
test = pd.read_csv(test_url)
#Print the `head` of the train and test dataframes
print(train.head())
print("-----------------------------------")
print(test.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
-----------------------------------
   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0  34.5      0      0   330911   7.8292   NaN        Q
1  47.0      1      0   363272   7.0000   NaN        S
2  62.0      0      0   240276   9.6875   NaN        Q
3  27.0      0      0   315154   8.6625   NaN        S
4  22.0      1      1  3101298  12.2875   NaN        S

## Understanding your data(describe & shape)

In [12]:
train.describe()
# count 總數
# mean 平均
# std 標準差

C:\Users\LIOU\Anaconda3\lib\site-packages\numpy\lib\function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,NaN,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,NaN,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,NaN,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [14]:
train.shape
# (總數, 欄位)

(891, 12)

In [6]:
test.describe()

C:\Users\LIOU\Anaconda3\lib\site-packages\numpy\lib\function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000         NaN    0.000000    0.000000         NaN
50%    1100.500000    3.000000         NaN    0.000000    0.000000         NaN
75%    1204.750000    3.000000         NaN    1.000000    0.000000         NaN
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [15]:
test.shape

(418, 11)

## Male or Female(絕對數 & 比例)

In [17]:
train["Survived"].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [18]:
train["Survived"].value_counts(normalize = True)
# 百分比

0    0.616162
1    0.383838
Name: Survived, dtype: float64

In [19]:
train["Survived"][train["Sex"] == 'male'].value_counts()
# Male 的 存亡絕對數

0    468
1    109
Name: Survived, dtype: int64

In [21]:
train["Survived"][train["Sex"] == 'female'].value_counts(normalize = True)
# Female 的 存亡比例
# 同 train[train["Sex"] == 'female']["Survived"].value_counts(normalize = True)

1    0.742038
0    0.257962
Name: Survived, dtype: float64

## Dose age play a role?(新增欄位)

In [24]:
# Create the column Child and assign to 'NaN'
train["Child"] = float('NaN')

In [25]:
# Assign 1 to passengers under 18, 0 to those 18 or older. Print the new column.
train["Child"][train["Age"]<18] = 1
train["Child"][train["Age"]>=18] = 0
print(train["Child"].head())

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: Child, dtype: float64

C:\Users\LIOU\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\LIOU\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [29]:
# Print normalized Survival Rates for passengers under 18
print(train["Survived"][train["Child"] == 1].value_counts(normalize = True))
# 小孩存亡比率

1    0.539823
0    0.460177
Name: Survived, dtype: float64

In [30]:
# Print normalized Survival Rates for passengers 18 or older
print(train["Survived"][train["Child"] == 0].value_counts(normalize = True))
# 成人存亡比率

0    0.618968
1    0.381032
Name: Survived, dtype: float64

## First Prediction

In [33]:
# Create a copy of test: test_one
test_one = test

# Initialize a Survived column to 0
test_one["Survived"] = 0

In [35]:
# Set Survived to 1 if Sex equals "female" and print the `Survived` column from `test_one`
test_one["Survived"][test_one["Sex"] == "female"] = 1
print(test_one["Survived"])
# submission scored 0.76555

0      0
1      1
2      0
3      0
4      1
5      0
6      1
7      0
8      1
9      0
10     0
11     0
12     1
13     0
14     1
15     1
16     0
17     0
18     1
19     1
20     0
21     0
22     1
23     0
24     1
25     0
26     1
27     0
28     0
29     0
      ..
388    0
389    0
390    0
391    1
392    0
393    0
394    0
395    1
396    0
397    1
398    0
399    0
400    1
401    0
402    1
403    0
404    0
405    0
406    0
407    0
408    1
409    1
410    1
411    1
412    1
413    0
414    1
415    0
416    0
417    0
Name: Survived, dtype: int64

C:\Users\LIOU\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

# 2.Predicting with Decision Trees(決策樹)
After making your first predictions in the previous chapter, it's time to bring you to the next level. In chapter 2 you

## Cleaning and Formatting your Data

In [2]:
# Import the Numpy library
import numpy as np
# Import 'tree' from scikit-learn library
from sklearn import tree

In [3]:
# 填補缺失值(數值型)
train["Age"] = train["Age"].fillna(train["Age"].median())

In [4]:
# Convert the male and female groups to integer form 非數值型轉換
train["Sex"][train["Sex"] == "male"] = 0
train["Sex"][train["Sex"] == "female"] = 1

C:\Users\LIOU\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\LIOU\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [5]:
# Impute the Embarked variable 填補缺失值(非數值型),以最常見"S"填補登船處
train["Embarked"] = train["Embarked"].fillna("S")

In [6]:
# Convert the Embarked classes to integer form 非數值型轉換
train["Embarked"][train["Embarked"] == "S"] = 0
train["Embarked"][train["Embarked"] == "C"] = 1
train["Embarked"][train["Embarked"] == "Q"] = 2

C:\Users\LIOU\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\LIOU\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\Users\LIOU\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

## Creating your first decision tree

In [7]:
# Create the target and features numpy arrays: target, features_one
target = train["Survived"].values #目標屬性
features_one = train[["Pclass", "Sex", "Age", "Fare"]].values #參考屬性

# Fit your first decision tree: my_tree_one 建置決策樹
my_tree_one = tree.DecisionTreeClassifier()
my_tree_one = my_tree_one.fit(features_one, target)

In [8]:
# 查看屬性重要性
print("Pclass         Sex         Age        Fare")
print(my_tree_one.feature_importances_)

Pclass         Sex         Age        Fare
[ 0.12382368  0.31274009  0.234231    0.32920523]

In [9]:
# 反推決策樹準確率
print(my_tree_one.score(features_one, target))

0.977553310887

## Predict and submit to Kaggle

In [11]:
# Impute the missing value with the median 填補缺失值
test.Fare[152] = test["Fare"].median()
test["Age"] = test["Age"].fillna(test["Age"].median())

#非數值型轉換
test["Sex"][test["Sex"] == "male"] = 0
test["Sex"][test["Sex"] == "female"] = 1

test["Embarked"] = test["Embarked"].fillna("S")
test["Embarked"][test["Embarked"] == "S"] = 0
test["Embarked"][test["Embarked"] == "C"] = 1
test["Embarked"][test["Embarked"] == "Q"] = 2

C:\Users\LIOU\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\LIOU\Anaconda3\lib\site-packages\ipykernel\__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\LIOU\Anaconda3\lib\site-packages\ipykernel\__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\LIOU\Anaconda3\lib\site-packages\ipykernel\__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\LIOU\Anaconda3\lib\site-packages\ipykernel\__main__.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\LIOU\Anaconda3\lib\site-packages\ipykernel\__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [12]:
# Extract the features from the test set: Pclass, Sex, Age, and Fare. test參考屬性
test_features = test[["Pclass", "Sex", "Age", "Fare"]].values

# Make your prediction using the test set 預測test數據
my_prediction = my_tree_one.predict(test_features)
print(my_prediction)

[0 0 1 1 1 0 0 0 1 0 0 0 1 1 1 1 0 1 1 0 0 1 1 0 1 0 1 1 1 0 0 0 1 0 1 0 0
 0 0 1 0 1 0 1 1 0 0 0 1 1 1 0 1 1 1 0 0 0 1 1 0 0 0 1 1 0 1 0 0 1 1 0 1 0
 1 0 0 1 0 1 1 0 0 0 1 0 1 1 1 1 1 1 1 0 0 0 1 1 1 0 1 0 0 0 1 0 0 0 1 0 0
 0 1 1 1 0 1 1 0 1 1 0 1 0 0 1 0 1 0 0 1 0 0 1 0 0 1 0 0 0 0 0 0 0 0 1 1 0
 1 0 1 0 0 1 0 0 1 1 0 1 1 1 1 1 0 1 1 0 0 0 0 1 0 1 0 1 1 0 1 1 0 1 1 0 1
 0 1 0 0 0 0 0 1 0 1 0 1 0 0 0 0 1 0 1 0 0 0 0 1 0 1 1 0 1 0 0 1 0 1 0 1 0
 1 1 1 0 0 1 0 0 0 1 0 0 0 0 0 1 1 1 1 1 1 0 0 0 1 0 1 0 1 0 0 0 0 0 0 0 1
 0 0 0 1 1 0 0 0 0 0 0 0 0 1 0 1 1 0 0 0 0 0 1 1 0 1 0 0 0 1 0 1 0 1 0 0 0
 1 0 0 0 0 0 0 0 1 1 0 1 1 0 0 1 0 0 1 1 0 0 0 0 0 0 0 1 1 0 1 0 0 0 1 0 1
 1 0 0 0 0 0 1 0 0 0 1 0 1 0 0 0 1 1 0 0 0 1 0 1 0 0 1 0 1 1 1 1 0 0 0 1 0
 0 1 0 0 1 1 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 1 1 0 0 1 0 1 0 0 1 0 1 1 0 0 0
 0 1 1 1 1 0 0 1 0 0 0]

In [19]:
# Create a data frame with two columns: PassengerId & Survived. Survived contains your predictions

# np.array(object, dtype=None, copy=True, order=None, subok=False, ndmin=0)
PassengerId =np.array(test["PassengerId"],dtype=int) #建陣列

# pd.DataFrame(data=None, index=None, columns=None, dtype=None, copy=False) 建pandas
my_solution = pd.DataFrame(my_prediction, PassengerId, columns = ["Survived"])
my_solution

      Survived
892          0
893          0
894          1
895          1
896          1
897          0
898          0
899          0
900          1
901          0
902          0
903          0
904          1
905          1
906          1
907          1
908          0
909          1
910          1
911          0
912          0
913          1
914          1
915          1
916          1
917          0
918          1
919          1
920          1
921          0
...        ...
1280         0
1281         0
1282         0
1283         1
1284         1
1285         0
1286         0
1287         1
1288         0
1289         1
1290         0
1291         0
1292         1
1293         0
1294         1
1295         1
1296         0
1297         0
1298         0
1299         0
1300         1
1301         1
1302         1
1303         1
1304         0
1305         0
1306         1
1307         0
1308         0
1309         0

[418 rows x 1 columns]

In [20]:
# Check that your data frame has 418 entries
print(my_solution.shape)

(418, 1)

In [70]:
# Write your solution to a csv file with the name my_solution.csv
my_solution.to_csv("my_solution_one.csv", index_label = ["PassengerId"])
# submission scored 0.71770 比第一次預測低

## Overfitting and how to control it
In DecisionTreeRegressor, the depth of our model is defined by two parameters: <br>
 1. max_depth : parameter determines when the splitting up of the decision tree stops. <br>
 2. min_samples_split : parameter monitors the amount of observations in a bucket.If a certain threshold is not reached (e.g minimum 10 passengers) no further splitting can be done.

In [17]:
# Create a new array with the added features: features_two 新增參數"SibSp", "Parch", "Embarked"需先轉數值型
features_two = train[["Pclass","Age","Sex","Fare", "SibSp", "Parch", "Embarked"]].values

In [18]:
# Control overfitting by setting "max_depth" to 10 and "min_samples_split" to 5 : my_tree_two 設定參數
max_depth = 10 #樹最大深度
min_samples_split = 5 #最小樣本量
my_tree_two = tree.DecisionTreeClassifier(max_depth = 10, min_samples_split = 5, random_state = 1)
my_tree_two = my_tree_two.fit(features_two, target)

In [19]:
# Print the score of the new decison tree
print(my_tree_two.score(features_two, target))
# Your submission scored 0.69378.

0.905723905724

## Feature-engineering for our Titanic data set

In [24]:
# Create train_two with the newly defined feature 新增變數"家族人數"=SibSp + Parch + 1自己
train_two = train.copy()
train_two["family_size"] = train_two["SibSp"] + train_two["Parch"] + 1

In [25]:
# Create a new feature set and add the new feature
features_three = train_two[["Pclass", "Sex", "Age", "Fare", "SibSp", "Parch", "family_size"]].values

# Define the tree classifier, then fit the model
my_tree_three = tree.DecisionTreeClassifier()
my_tree_three = my_tree_three.fit(features_three, target)

# Print the score of this decision tree
print(my_tree_three.score(features_three, target))

# Your submission scored 0.75598.

0.979797979798

# 3.Improving your predictions through Random Forests (隨機森林)
What techniques can you use to improve your predictions even more? One possible way is by making use of the machine learning method Random Forest. Namely, a forest is just a collection of trees...

## A Random Forest analysis in Python

In [13]:
# Import the `RandomForestClassifier`
from sklearn.ensemble import RandomForestClassifier

In [14]:
# 建構隨機森林
# We want the Pclass, Age, Sex, Fare,SibSp, Parch, and Embarked variables
features_forest = train[["Pclass", "Age", "Sex", "Fare", "SibSp", "Parch", "Embarked"]].values

# Building and fitting my_forest
forest = RandomForestClassifier(max_depth = 10, min_samples_split=2, n_estimators = 100, random_state = 1)
# n_estimators 隨機森林的樹數量
my_forest = forest.fit(features_forest, target)

# Print the score of the fitted random forest
print(my_forest.score(features_forest, target))

0.939393939394

In [15]:
# Compute predictions on our test set features then print the length of the prediction vector
test_features = test[["Pclass", "Age", "Sex", "Fare", "SibSp", "Parch", "Embarked"]].values
pred_forest = my_forest.predict(test_features)
print(len(pred_forest))

418

## Interpreting and Comparing

In [26]:
#Request and print the `.feature_importances_` attribute
print([["Pclass", "Age", "Sex", "Fare", "SibSp", "Parch", "Embarked"]])
print("my_tree_two=",my_tree_two.feature_importances_)
print("my_forest=",my_forest.feature_importances_)
# Remember how we looked at .feature_importances_ attribute for the decision trees?
# Well, you can request the same attribute from your random forest as well and interpret the relevance of the included variables.

[['Pclass', 'Age', 'Sex', 'Fare', 'SibSp', 'Parch', 'Embarked']]
my_tree_two= [ 0.14130255  0.17906027  0.41616727  0.17938711  0.05039699  0.01923751
  0.0144483 ]
my_forest= [ 0.10384741  0.20139027  0.31989322  0.24602858  0.05272693  0.04159232
  0.03452128]

In [27]:
#Compute and print the mean accuracy score for both models
print("my_tree_two=",my_tree_two.score(features_two, target))
print("my_forest=",my_forest.score(features_two, target))
# The .score() method takes the features data and the target vector and computes mean accuracy of your model.
# Remember, this measure should be high but not extreme because that would be a sign of overfitting.

my_tree_two= 0.905723905724
my_forest= 0.939393939394

### The most important feature was "Sex", but it was more significant for "my_tree_two"